table {
  /* font-family: Arial, Helvetica, sans-serif; */
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

table td,
table th {
  border: 0.2px solid rgb(238, 238, 238);
  padding: 8px;
  line-height: 30px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #00d287;
  color: white;
}
